nav
	width: 100vw
	max-width: 900px
	margin: auto
	padding: 20px 20px 0px 20px
	
	.nav-content
		width: 100vw
		max-width: 800px
		border-bottom: 1px solid #d8d8d8
		
		.top
			display: flex
			justify-content: space-between
			flex-direction: row
			align-items: baseline
			
			img
				height: 35px
	